* {
    background-color: transparent;
}

#github {
    background-color: #e6ebeb;
    margin-top: 0px;
    padding: 50px;
    height: 250px;
    width: 800px;
    float: left;
}

#github img {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: auto;
}

.navbar-brand {
    width: auto;
}

*{
    font-family:Arial, Helvetica, sans-serif;
}

#BSEat{
    width: 70vw;
    height: 30vh;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 400px;
    margin-right: 10px;
    position: flex;
}

#Weather{
        width: 70vw;
        height: 30vh;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 10px;
        position: absolute;
}
.card-title{
    text-align: center;
    font-weight: bold;
}

#weatherBtn{
    align-items: center;
    margin-left: 40px;
}
#Boston{
    align-items: center;
    margin-left: 40px;
}

#teamProfID{
    margin-top: 10px;
    margin-left: 100px;
    width: 70vw;
}

#teamimg{
    height: 25vh;
}

#expressNote{
    width: 60vw;
    height: 30vh;
    display: inline-block;
    margin-top: 90px;
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 10px;
    position: flex;
}

#noteImg{
    height: 20vh;
}

#yourEatsID{
        width: 60vw;
        height: 30vh;
        display: inline-block;
        margin-top: 90px;
        margin-bottom: 50px;
        margin-left: 0px;
        margin-right: 10px;
        position: absolute;
}