* {
    background-color: transparent;
}

#github {
    background-color: #e6ebeb;
    margin-top: 0px;
    padding: 50px;
    height: 250px;
    width: 800px;
    float: left;
}

#github img {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: auto;
}

#contact {
    background-color: #e6ebeb;
    margin-top: 25px;
    padding: 50px;
    height: 250px;
    width: 800px;
    float: left;
    font-size: large;
}

#contact img {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: auto;
}

.card {
    float: left;
    margin-top: auto;
}